---
import MovieCard from "./MovieCard.astro";
import { searchMovies, type ListItem, type QueryInput } from "@/lib/phimapi";

interface Props {
  filters?: QueryInput;
}

const { filters = {} } = Astro.props as Props;
const keyword = Astro.params.keyword ?? "";

const data = await searchMovies(keyword, filters);
const movies = data.data.items;
---

<section class="flex flex-col items-center justify-center gap-4 py-8 md:py-10">
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6">
      {
        movies.map((item: ListItem, index: number) => (
          <MovieCard
            index={index}
            slug={item.slug}
            name={item.name}
            image={item.poster_url}
            year={item.year.toString()}
          />
        ))
      }
    </div>
  </div>
</section>
